body{
    background-color:#761c19;
}
 .main{
     background-color: white;
     margin: 30px;
 }
 .btn-publish{
     float: right;
     margin: 30px;
 }
 .media-object{
     width: 90px;
     height: 90px;
 }
 .text-desc{
     font-size: 12px;
     font-weight: normal;
     color: #999999;
 }